In [1]:
import numpy as np
import pandas as pd

### Create a list of number 1 to 10 
create 2 empty list.L1=[]Â¶
L2=[]
Create a pprogram / function so that #L1 Even , L2 Odd Numbers.

create any dictionary with 4 key value pair.

print all the values of the dictionary as a list.

Write a Program to reverse a string.

Write a Program to tell the count of a string.

####### a= 10, b= 20, c= 15
#write a logic to check the smallest of the three
df_dict = {'CUSTID': ['98981', '897892','32323','98900','98981'],
           'CamapignID': ['C1', 'C2','C3','C1', 'C1'],
           'Units Purchased':[2,1,7,4,2]}
           
make a dataframe df1 of this dictionary.
#calclate the total units purchased for each CampaignID
#Exclude c2 from df1 and then calclate the total units purchased for each CampaignID

#create new column "Flag" condition, if units purchased >6 a1; 3,5 - a2  ; remaining a3

#"Flag" condition; if units purchased >6 a1; 3,5 - a2  ; remaining a3

import pandas as pd
df = pd.DataFrame()
df['marks'] = [ 12, 19, 24, 13, 24.5, 8, 23, 21.2 ]

####### Task: Normalize 'marks' column and assigned the values to a new column in the dataframe df

####### make another coulum and that must contain the Normalized value of marks column such that 
the normalised range must be 0 to 1.

####### make another coulum and that must contain the Normalized value of marks column such that 
the normalised range must be 1 to 5.

In [2]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
L1 = []
L2 = []

In [4]:
def separate_even_odd_numbers(numbers):
    L1 = []  # List to store even numbers
    L2 = []  # List to store odd numbers
    
    for num in numbers:
        if num % 2 == 0:
            L1.append(num)  # Append even numbers to L1
        else:
            L2.append(num)  # Append odd numbers to L2
    
    return L1, L2  # Return the two lists

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers, odd_numbers = separate_even_odd_numbers(numbers)

print("Even numbers: ", even_numbers)
print("Odd numbers: ", odd_numbers)

Even numbers:  [2, 4, 6, 8, 10]
Odd numbers:  [1, 3, 5, 7, 9]

In [6]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "gender": "male"
}
print("Name: ", my_dict["name"])
print("Age: ", my_dict["age"])
print("City: ", my_dict["city"])
print("Gender: ", my_dict["gender"])

Name:  John
Age:  30
City:  New York
Gender:  male

In [7]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "gender": "male"
}

# Get all the values as a list
values_list = list(my_dict.values())

# Print the values list
print("Values list: ", values_list)

TypeError: 'list' object is not callable

In [9]:
def reverse_string(input_string):
    """
    This function takes an input string and returns its reverse.
    """
    # Convert the input string to a list of characters
    chars = list(input_string)
    
    # Use two pointers to reverse the characters in-place
    left = 0
    right = len(chars) - 1
    
    while left < right:
        # Swap the characters at the left and right pointers
        chars[left], chars[right] = chars[right], chars[left]
        
        # Move the pointers towards each other
        left += 1
        right -= 1
    
    # Convert the list of characters back to a string
    reversed_string = ''.join(chars)
    
    return reversed_string


# Example usage:
input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print("Input string: ", input_string)
print("Reversed string: ", reversed_string)

TypeError: 'list' object is not callable

In [10]:
def count_substring(input_string, substring):
    """
    This function takes an input string and a substring, and returns the count of occurrences of the substring in the input string.
    """
    # Use the count() method to count occurrences of the substring in the input string
    count = input_string.count(substring)
    
    return count


# Example usage:
input_string = "Hello, Hello World!"
substring = "Hello"
count = count_substring(input_string, substring)
print("Input string: ", input_string)
print("Substring: ", substring)
print("Count: ", count)

Input string:  Hello, Hello World!
Substring:  Hello
Count:  2

In [8]:
# Given numbers
a = 10
b = 20
c = 15

# Logic to find the smallest number
smallest = a  # Assume a is the smallest

if b < smallest:
    smallest = b  # Update smallest if b is smaller

if c < smallest:
    smallest = c  # Update smallest if c is smaller

# Print the smallest number
print("Smallest number: ", smallest)

Smallest number:  10

In [11]:
import pandas as pd

# Given dictionary
df_dict = {'CUSTID': ['98981', '897892', '32323', '98900', '98981'],
           'CampaignID': ['C1', 'C2', 'C3', 'C1', 'C1'],
           'Units Purchased': [2, 1, 7, 4, 2]}

# Create DataFrame df1 from the dictionary
df1 = pd.DataFrame(df_dict)

# Calculate total units purchased for each CampaignID in df1
total_units_by_campaign = df1.groupby('CampaignID')['Units Purchased'].sum()
print("Total units purchased by CampaignID (df1):\n", total_units_by_campaign)

# Exclude 'C2' from df1
df1 = df1[df1['CampaignID'] != 'C2']

# Calculate total units purchased for each CampaignID in df1 after excluding 'C2'
total_units_by_campaign_excluding_c2 = df1.groupby('CampaignID')['Units Purchased'].sum()
print("Total units purchased by CampaignID (df1 excluding C2):\n", total_units_by_campaign_excluding_c2)

Total units purchased by CampaignID (df1):
 CampaignID
C1    8
C2    1
C3    7
Name: Units Purchased, dtype: int64
Total units purchased by CampaignID (df1 excluding C2):
 CampaignID
C1    8
C3    7
Name: Units Purchased, dtype: int64

In [12]:
import pandas as pd

# Given dictionary
df_dict = {'CUSTID': ['98981', '897892', '32323', '98900', '98981'],
           'CampaignID': ['C1', 'C2', 'C3', 'C1', 'C1'],
           'Units Purchased': [2, 1, 7, 4, 2]}

# Create DataFrame df1 from the dictionary
df1 = pd.DataFrame(df_dict)

# Define conditions for Flag column
conditions = [
    df1['Units Purchased'] > 6,
    (df1['Units Purchased'] >= 3) & (df1['Units Purchased'] <= 5),
    df1['Units Purchased'] <= 2
]

# Define corresponding values for Flag column
values = ['a1', 'a2', 'a3']

# Add Flag column to df1 based on conditions and values
df1['Flag'] = pd.Series(np.select(conditions, values))

# Print the updated df1 with Flag column
print(df1)

   CUSTID CampaignID  Units Purchased Flag
0   98981         C1                2   a3
1  897892         C2                1   a3
2   32323         C3                7   a1
3   98900         C1                4   a2
4   98981         C1                2   a3

In [13]:
import pandas as pd
import numpy as np

# Given dictionary
df_dict = {'CUSTID': ['98981', '897892', '32323', '98900', '98981'],
           'CampaignID': ['C1', 'C2', 'C3', 'C1', 'C1'],
           'Units Purchased': [2, 1, 7, 4, 2]}

# Create DataFrame df1 from the dictionary
df1 = pd.DataFrame(df_dict)

# Define conditions for Flag column
conditions = [
    df1['Units Purchased'] > 6,
    (df1['Units Purchased'] >= 3) & (df1['Units Purchased'] <= 5),
    df1['Units Purchased'] <= 2
]

# Define corresponding values for Flag column
values = ['a1', 'a2', 'a3']

# Add Flag column to df1 based on conditions and values
df1['Flag'] = np.select(conditions, values, default='a3')  # Use 'a3' as default value for unmatched conditions

# Print the updated df1 with Flag column
print(df1)

   CUSTID CampaignID  Units Purchased Flag
0   98981         C1                2   a3
1  897892         C2                1   a3
2   32323         C3                7   a1
3   98900         C1                4   a2
4   98981         C1                2   a3

In [16]:
import pandas as pd
df = pd.DataFrame()
df['marks'] = [ 12, 19, 24, 13, 24.5, 8, 23, 21.2 ]
df

   marks
0   12.0
1   19.0
2   24.0
3   13.0
4   24.5
5    8.0
6   23.0
7   21.2

In [17]:
import pandas as pd

# Create DataFrame df
df = pd.DataFrame()
df['marks'] = [12, 19, 24, 13, 24.5, 8, 23, 21.2]

# Define the minimum and maximum values for normalization
min_val = df['marks'].min()
max_val = df['marks'].max()

# Apply Min-Max normalization to 'marks' column and store normalized values in 'normalized_marks' column
df['normalized_marks'] = (df['marks'] - min_val) / (max_val - min_val)

# Print the updated DataFrame df with the normalized values
print(df)

   marks  normalized_marks
0   12.0          0.242424
1   19.0          0.666667
2   24.0          0.969697
3   13.0          0.303030
4   24.5          1.000000
5    8.0          0.000000
6   23.0          0.909091
7   21.2          0.800000

In [18]:
import pandas as pd

# Create DataFrame df
df = pd.DataFrame()
df['marks'] = [12, 19, 24, 13, 24.5, 8, 23, 21.2]

# Define the minimum and maximum values for normalization
min_val = df['marks'].min()
max_val = df['marks'].max()

# Apply Min-Max normalization to 'marks' column and store normalized values in 'normalized_marks' column
df['normalized_marks'] = (df['marks'] - min_val) / (max_val - min_val)

# Print the updated DataFrame df with the normalized values
print(df)

   marks  normalized_marks
0   12.0          0.242424
1   19.0          0.666667
2   24.0          0.969697
3   13.0          0.303030
4   24.5          1.000000
5    8.0          0.000000
6   23.0          0.909091
7   21.2          0.800000

In [19]:
import pandas as pd

# Create DataFrame df
df = pd.DataFrame()
df['marks'] = [12, 19, 24, 13, 24.5, 8, 23, 21.2]

# Define the minimum and maximum values for normalization
min_val = df['marks'].min()
max_val = df['marks'].max()

# Define the new minimum and maximum values for the normalized range
new_min = 1
new_max = 5

# Apply Min-Max normalization to 'marks' column and store normalized values in 'normalized_marks' column
df['normalized_marks'] = ((df['marks'] - min_val) / (max_val - min_val)) * (new_max - new_min) + new_min

# Print the updated DataFrame df with the normalized values
print(df)

   marks  normalized_marks
0   12.0          1.969697
1   19.0          3.666667
2   24.0          4.878788
3   13.0          2.212121
4   24.5          5.000000
5    8.0          1.000000
6   23.0          4.636364
7   21.2          4.200000